@use '../../../../../theme/variables' as vars;

.dates-container {
	position: relative;
	margin: 0 auto;
	max-width: 1440px;
	min-height: 100vh;
	border-left: vars.$border-color 1px solid;
	border-right: vars.$border-color 1px solid;
	padding: 170px 40px 104px 80px;
	overflow: hidden;
}

.dates__title-container {
	margin-left: -80px;
	padding-left: 76px;
	margin-bottom: 96px;
	border-width: 0 0 0 4px;
	border-style: solid;
	border-image: linear-gradient(180deg, vars.$alternative-primary-color, vars.$contrast-primary-color) 1;
}

.dates-title {
	font-size: 56px;
	line-height: 120%;
	width: 353px;
}

.dates__circle-container {
	position: absolute;
	top: 215px;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
}

.dates-markup {
	position: absolute;
	background-color: vars.$primary-color;
	opacity: 0.1;

	// Исключительно фоновый элемент, должен не перекрывать остальные.
	z-index: -1;
}

.dates-markup_horizontal {
	left: 0;
	right: 0;
	bottom: 50%;
	height: 2px;
}

.dates-markup_vertical {
	top: 0;
	bottom: 0;
	left: 50%;
	width: 1.5px;
}

.dates__period {
	display: flex;
	width: 100%;
	margin-left: 137px;
	gap: 100px;
	margin-bottom: 200px;
}
