@forward 'fonts';
@use 'variables' as vars;

body {
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	flex: 1;
	color: vars.$primary-color;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
