@use '../../../../../theme/variables' as vars;

.buttons-container {
	display: flex;
	gap: 20px;
}

.order {
	display: inline-block;
	font-size: 14px;
	margin-bottom: 20px;
}

.slide {
	width: 50px;
	height: 50px;
	background-color: black;
}
